*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
.model a{
	text-decoration: none;
}

.wrap{
	width:50px;
	height: 50px;
	/*float: right;
	margin-top: 220px;
	margin-right: 300px;*/
	/*margin-top: 180px;
	margin-left: 50%;*/
	/*position: absolute;*/
	margin-left: 1050px;
	margin-top: 20px;
	margin-bottom:35px;
	
}
/*添加按钮*/
.add{
	width: 30px;
	height: 30px;
	border: 1px solid gray;
	text-align:center;
	line-height: 30px;
	border-radius: 50%;
	margin:1px auto;
	border-radius: 50%;
	font-size: 24px;
	cursor: pointer;
	
}
.add:active{
	border-color: hotpink;
	color: hotpink;
}
/*下拉弹框*/
.drop-down{
	display: none;
	width: 200px;
	height: 50px;
	color: #808080;
	position: absolute;
	left: 50%;
	margin-left:305px;
	text-align:center;
	line-height: 50px;
	border-radius: 50px;
	
	
}
.drop-down span{
	cursor: pointer;
	transition: color 1s;
}
.drop-down span:hover{
  color: springgreen;
}
/*说说弹出框*/
.model{
	display: none;
	width: 400px;
	height: 200px;
	background-color: #eee;
	box-shadow: 0 0 10px #eee;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 999;
}
.model div:first-child{
	margin-top: 25px;
}
.message{
	width: 100%;
	height: 120px;
}

.close{
	position: absolute;
	right: 2px;
	top: 2px;
}
/*遮罩底*/
.bg{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
}

.show{
	width: 680px;
	height: 100%;
	border-radius: 50px;
	position: absolute;
	margin-top: 30px;
	left:200px;
	top: 75px;
	background-color: burlywood;
}

.msg-item{
	position: relative;
	left: 0%;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #eee;
  margin: 10px;
  padding: 10px;
}

